<template name="communicationsActions">

<div class="container">
<div class="row">
    <div class="col-md-10" list-group-left>
        <ul class=" list-group">
            <li class="list-group-item list-group-item-action list-group-item-warning">
                <a href="#" id="residentWarningAction" class="">Issue Warning</a>
            </li>
            <li class="list-group-item list-group-item-action list-group-item-danger">
                <a href="#" id="residentSuspensionAction" >Issue suspension</a>
            </li>

            <li class="list-group-item list-group-item-action list-group-item-danger">
                <a href="#" id="residentCancellationAction" >Issue Cancellation</a>
            </li>

            <li class="list-group-item list-group-item-action list-group-item-info">
                <a href="#" id="residentSendMessageAction" >Send Message</a>
            </li>

        </ul>
    </div>

    <div class="col-md-2" list-group-right>
        <ul class="list-group" >
                <li class="list-group-item list-group-item-action list-group-item-info">
                        <a href="#" id="residentViewAll" class="">View all</a>
                </li>
        </ul>
    </div>
</div>

 </div>
</template>