<template name="residentWarningActions">
        <ul class="List-group btn-group-justified">

        <li role="presentations"  class="active list-group-item list-group-item-action list-group-item-warning" data-business-action="generalWarning">
            <a href="#generalWarning" aria-controls="generalWarning" role="tab" data-toggle="tab">General</a>
        </li>

        <li role="presentations" class="list-group-item list-group-item-action list-group-item-warning " data-business-action="serviceChargeWarning">
            <a href="#serviceChargeWarning" aria-controls="serviceChargeWarning" role="tab" data-toggle="tab">Service Charges</a>
        </li>

        <li role="presentations" class="list-group-item list-group-item-action list-group-item-warning  " data-business-action="behaviourWarning">
            <a href="#behaviourWarning" aria-controls="behaviourWarning" role="tab" data-toggle="tab">Behaviour</a>
        </li>

        <li role="presentations" class="list-group-item list-group-item-action list-group-item-warning  " data-business-action="drugsWarning">
            <a href="#drugsWarning" aria-controls="drugsWarning" role="tab" data-toggle="tab">Drugs</a>
        </li>

        <li role="presentations" class="list-group-item list-group-item-action list-group-item-warning  " data-business-action="theftWarning">
            <a href="#theftWarning" aria-controls="theftWarning" role="tab" data-toggle="tab">Theft</a>
        </li>
    </ul>
</template>