<template name="readOnlyBookingImages">

        <div name="image_content" id="images" class="tab-pane fade in ">
            <iframe
                    id="galleryBrowser"
                    name="galleryBrowser"
                    src="https://ucarecdn.com/1b02cf41-50dc-4569-9798-59867513fdbc~3/gallery/-/nav/thumbs/-/fit/cover/-/loop/true/-/allowfullscreen/native/-/thumbwidth/100/"
                    width="100%"
                    height="450"
                    allowfullscreen="true"
                    frameborder="0.5">
            </iframe>
        </div>

</template>